.header {
   position: relative;
   &__inner {
      min-height: 80px;
      display: flex;
      align-items: center;
   }

   &__logo {
      margin-right: 70px;
   }

   &__menu {
      margin-right: 57px;
   }

   &__search {
      margin-right: 57px;
   }

   &__lang {
   }

   &__links {
      display: flex;
   }

   &__mobile-menu-btn {
   }

   &__mobile-menu {
   }
}

.menu {
   &__list {
      display: flex;
   }

   &__item {
      &:not(:last-child) {
         margin-right: 25px;
      }
   }

   &__link {
      font-size: 16px;
      font-weight: 600;
   }

   &__link-btn {
   }
}
.submenu-1 {
   &__list {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 5;
      background: #ffffff;
      box-shadow: 4px 0px 15px rgba(24, 21, 53, 0.06);
      width: 100%;
      max-width: 321px;
      left: -100%;
      transition: 0.3s all ease;
      &.active {
         left: 0;
      }
   }

   &__top {
      display: flex;
      border-bottom: 1px solid #eef2f6;
      position: relative;
      margin-bottom: 13px;
   }

   &__logo {
      img {
         display: flex;
      }
   }

   &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      padding: 26px 0 0 20px;
   }

   &__close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
   }

   &__item {
      padding-right: 25px;
      margin-left: 31%;
      line-height: 16px;
      font-weight: 500;
      cursor: pointer;
      &:hover {
         .submenu-1__link {
            color: #da2128;
         }
         .submenu-2__list {
            opacity: 1;
            top: 0;
         }
      }
   }

   &__link {
      display: inline-flex;
      align-items: center;
      text-transform: uppercase;
      font-weight: 600;
      padding: 17px 0;
   }

   &__link-svg {
      margin-right: 14px;
   }

   &__bottom {
      padding-left: 30%;
      padding-top: 30px;
      margin-bottom: 38px;
      border-top: 1px solid #eef2f6;
   }

   &__bottom-text {
      margin-bottom: 15px;
   }
}
.close-btn {
   width: 26px;
   height: 26px;
   border-radius: 50%;
   background: #f0f0f0;
   background-image: url(../img/sprite/close-btn.svg);
   background-position: center;
   background-repeat: no-repeat;
}
.submenu-2 {
   &__list {
      transition: 0.3s all ease;
      position: absolute;
      left: 321px;
      top: -100%;
      opacity: 0;
      width: 468px;
      background-color: #ffffff;
      box-shadow: 4px 0px 15px rgba(24, 21, 53, 0.06);
   }

   &__item {
   }

   &__title {
      display: flex;
      align-items: flex-end;
      padding: 29px 0 20px 30px;
      border-bottom: 1px solid #eef2f6;
   }

   &__img {
      margin-right: 15px;
   }

   &__text {
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      text-transform: uppercase;
   }
}
.submenu-3 {
   &__list {
      padding: 30px 0 38px 30px;
      display: flex;
   }
   &__items-left {
      margin-right: 68px;
      width: 192px;
      .submenu-3__item:first-of-type {
         margin-bottom: 25px;
      }
   }

   &__item {
      display: flex;
      flex-direction: column;
   }
   &__items-right {
      .submenu-3__item:first-of-type {
         margin-bottom: 25px;
      }
   }

   &__link-main {
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 15px;
   }

   &__link {
      &:hover {
         color: #da2128;
      }
      &:not(:last-child) {
         margin-bottom: 15px;
      }
   }
}
.recently-watched {
   &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-right: 14px;
   }

   &__item {
      width: 60px;
      height: 60px;
      img {
         display: flex;
      }
      margin-bottom: 15px;
   }

   &__link {
   }

   &__img {
   }

   &__item-last {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__number {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      text-transform: uppercase;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      background-color: #f0f0f0;
      cursor: pointer;
      &::before {
         content: "+";
         position: relative;
         top: 4%;
      }
   }
}
.search {
   position: relative;
   width: 100%;
   max-width: 379px;
   &__input {
   }
   &__row {
      width: 100%;
      max-width: 379px;
      height: 50px;
      background-color: #f5f5f5;
      border-radius: 6px;
      border: none;
      padding-left: 17px;
   }
   &__link {
      position: absolute;
      top: 50%;
      right: 7%;
      transform: translateY(-50%);
   }

   &__list {
      position: absolute;
      left: 0;
      top: 0;
      display: none;
   }

   &__item {
   }

   &__img {
   }

   &__text {
   }

   &__key-word {
   }

   &__price {
   }

   &__price-old {
   }

   &__price-new {
   }

   &__bottom {
   }

   &__all-result {
   }
}

.lang {
   position: relative;
   margin-right: 34px;
   cursor: pointer;
   &::after {
      content: "";
      width: 8px;
      height: 8px;
      display: inline-flex;
      background-image: url(../img/sprite/select-arrow.svg);
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      right: 18%;
      top: 50%;
      transform: translateY(-50%);
   }
   &__list {
      border: none;
      appearance: none;
      width: 40px;
      cursor: pointer;
   }

   &__item {
   }
}
.lk-link {
   margin-right: 42px;
}
.favorite-link {
   margin-right: 42px;
}
.basket {
   &__link {
      position: relative;
   }

   &__item-amount {
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #da2128;
      border-radius: 50%;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
      top: -7px;
      right: -10px;
   }
}
.mobile-menu {
   position: absolute;
   left: 0;
   top: 0;
   display: none;
   &__list {
   }

   &__top {
   }

   &__logo {
   }

   &__lang {
   }

   &__close-btn {
   }

   &__item {
   }

   &__btn {
   }

   &__btn-arrow {
   }
}
